In [1]:
import pymysql

conn = pymysql.connect(host='13.125.102.154', user='hello', password='Csedbadmin!1', db='pytest')
curs = conn.cursor()

sql = "select * from test"
curs.execute(sql)
rows = curs.fetchall()
print(rows)

sql = "delete from test where age >= 50"
curs.execute(sql)
conn.commit()

sql = "select * from test"
curs.execute(sql)
rows = curs.fetchall()
print(rows)

sql = "insert into test(name,age) values (%s, %s)"
curs.execute(sql, ('박혜란', 50))
curs.execute(sql, ('박주형', 55))
conn.commit()

sql = "select * from test"
curs.execute(sql)
rows = curs.fetchall()
print(rows)

conn.close()

(('박재철', 25), ('박재균', 28), ('박혜란', 50), ('박주형', 55))
(('박재철', 25), ('박재균', 28))
(('박재철', 25), ('박재균', 28), ('박혜란', 50), ('박주형', 55))

In [ ]:
import pymysql

conn = pymysql.connect(host='13.125.102.154', user='hello', password='Csedbadmin!1', db='pytest')
curs = conn.cursor()

sql = "select * from test"
curs.execute(sql)
rows = curs.fetchall()
print(rows)

sql = "delete from test where age >= 50"
conn.commit()

sql = "select * from test"
curs.execute(sql)
rows = curs.fetchall()
print(rows)

sql = "insert into test(name,age) values (%s, %s)"
curs.execute(sql, ('박혜란', 50))
curs.execute(sql, ('박주형', 55))
conn.commit()

sql = "select * from test"
curs.execute(sql)
rows = curs.fetchall()
print(rows)

conn.close()

In [ ]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
from PIL import Image
import base64
from io import BytesIO

engine = create_engine('mysql+pymysql://hello:Csedbadmin!1@13.125.102.154/pytest', echo = False)
buffer = BytesIO()
im = Image.open('py.jpg')
#im.show()

im.save(buffer, format='jpeg')
img_str = base64.b64encode(buffer.getvalue())
print(img_str)

img_df = pd.DataFrame({'data':[img_str]})
img_df.to_sql('images', con=engine, if_exists='append', index=False)

In [2]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
from PIL import Image
import base64
from io import BytesIO

engine = create_engine('mysql+pymysql://hello:Csedbadmin!1@13.125.102.154/pytest', echo = False)

img_df = pd.read_sql(sql="select * from images", con=engine)
img_str = img_df['data'].values[0]
print(type(img_str))

img = base64.decodebytes(img_str)
im = Image.open(BytesIO(img))
im.show()
im.save('py.png')

<class 'bytes'>

In [ ]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
from PIL import Image
import base64
from io import BytesIO

engine = create_engine('mysql+pymysql://hello:Csedbadmin!1@13.125.102.154/pytest', echo = False)

img_df = pd.read_sql(sql="select * from images", con=engine)

for i in range(0, len(img_df)):
    img_str = img_df['data'].values[i]
    img = base64.decodebytes(img_str)
    im = Image.open(BytesIO(img))
    im.show()

In [29]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
from PIL import Image
import base64
from io import BytesIO

engine = create_engine('mysql+pymysql://hello:Csedbadmin!1@13.125.102.154/pytest', echo = False)

num_df = pd.read_sql(sql="select max(num) from images", con=engine)
num = num_df.values[0][0]
print(num)

img_df = pd.read_sql(sql="select * from images where num = " + str(num), con=engine)
img_str = img_df['data'].values[0]
img = base64.decodebytes(img_str)
im = Image.open(BytesIO(img))
im.show()

1

In [1]:
import time
dte = time.localtime()
Year = dte.tm_year
Mon = dte.tm_mon
Day = dte.tm_mday
WDay = dte.tm_wday
Hour = dte.tm_hour
Min = dte.tm_min
Sec = dte.tm_sec
imgFileName = str(Year) + '_' + str(Mon) + '_' + str(Day) + '_' + str(Hour) + '_' + str(Min) + '_' + str(Sec) + '.jpg';
print(imgFileName)

2020_4_7_15_16_17.jpg

In [2]:
# 	photoID varchar(50) not null,
# 	data blob,
# 	analyzedData blob,
# 	cameraID varchar(50) not null,

import pandas as pd
import pymysql
from sqlalchemy import create_engine
from PIL import Image
import base64
from io import BytesIO
import time

dte = time.localtime()
Year = dte.tm_year
Mon = dte.tm_mon
Day = dte.tm_mday
WDay = dte.tm_wday
Hour = dte.tm_hour
Min = dte.tm_min
Sec = dte.tm_sec
imgFileName = str(Year) + '_' + str(Mon) + '_' + str(Day) + '_' + str(Hour) + '_' + str(Min) + '_' + str(Sec) + '.jpg';
print(imgFileName)

engine = create_engine('mysql+pymysql://hello:Csedbadmin!1@13.125.102.154/pytest', echo = False)
buffer = BytesIO()
im = Image.open('py.jpg')

im.save(buffer, format='jpeg')
img_str = base64.b64encode(buffer.getvalue())

img_df = pd.DataFrame({'photoID':[imgFileName], 'data':[img_str], 'analyzedData':[img_str], 'cameraID':['camera1']})
print(img_df)
img_df.to_sql('photo', con=engine, if_exists='append', index=False)

2020_4_12_19_10_29.jpg
                  photoID                                               data  \
0  2020_4_12_19_10_29.jpg  b'/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgH...

                                        analyzedData cameraID
0  b'/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgH...  camera1

In [6]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
from PIL import Image
import base64
from io import BytesIO

engine = create_engine('mysql+pymysql://hello:Csedbadmin!1@13.125.102.154/pytest', echo = False)

img_df = pd.read_sql(sql="select * from photo", con=engine)
img_str = img_df['data'].values[0]
print(img_df)

img = base64.decodebytes(img_str)
im = Image.open(BytesIO(img))
im.show()

img_str = img_df['analyzedData'].values[0]
print(type(img_str))

img = base64.decodebytes(img_str)
im = Image.open(BytesIO(img))
im.show()

                  photoID cameraID  \
0  2020_4_12_19_10_17.jpg  camera1
1  2020_4_12_19_10_29.jpg  camera1

                                                data  \
0  b'/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgH...
1  b'/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgH...

                                        analyzedData
0  b'/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgH...
1  b'/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgH...
<class 'bytes'>

In [18]:

import pandas as pd
import pymysql
from sqlalchemy import create_engine
from PIL import Image
import base64
from io import BytesIO
import time

dte = time.localtime()
Year = dte.tm_year
Mon = dte.tm_mon
Day = dte.tm_mday
WDay = dte.tm_wday
Hour = dte.tm_hour
Min = dte.tm_min
Sec = dte.tm_sec
imgFileName = str(Year) + '_' + str(Mon) + '_' + str(Day) + '_' + str(Hour) + '_' + str(Min) + '_' + str(Sec) + '.jpg';
print(imgFileName)

engine = create_engine('mysql+pymysql://hello:Csedbadmin!1@13.125.102.154/pytest', echo = False)
buffer = BytesIO()
im = Image.open('py.jpg')

im.save(buffer, format='jpeg')
img_str = base64.b64encode(buffer.getvalue())

img_df = pd.DataFrame({'photoID':[imgFileName], 'data':[img_str], 'cameraID':['camera1']})
img_df.to_sql('photo', con=engine, if_exists='append', index=False)

2020_4_12_22_5_54.jpg

TypeError: can only concatenate str (not "bytes") to str

In [31]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
from PIL import Image
import base64
from io import BytesIO

engine = create_engine('mysql+pymysql://hello:Csedbadmin!1@13.125.102.154/pytest', echo = False)

img_df = pd.read_sql(sql="select * from photo", con=engine)
img_len = len(img_df) - 1
img_str = img_df['data'].values[img_len]
print(img_df)

img = base64.decodebytes(img_str)
im = Image.open(BytesIO(img))
im.show()

img_str = img_df['analyzedData'].values[img_len]
print(type(img_str))

img = base64.decodebytes(img_str)
im = Image.open(BytesIO(img))
im.show()

              photoID cameraID  \
0  2020_4_12_22_25_35  camera1
1  2020_4_12_22_25_36  camera1

                                                data  \
0  b'/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgH...
1  b'/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgH...

                                        analyzedData
0  b'/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgH...
1  b'/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgH...
<class 'bytes'>

In [11]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
from PIL import Image
import base64
from io import BytesIO

engine = create_engine('mysql+pymysql://hello:Csedbadmin!1@13.125.102.154/pytest', echo = False)

img_df = pd.read_sql(sql="select * from photo", con=engine)
img_len = len(img_df) - 1
img_str = img_df.values[img_len]
print(img_len)

1

In [8]:
import numpy as np
from PIL import ImageFont, ImageDraw, Image
import cv2
import time

## Make canvas and set the color
img = np.zeros((200,400,3),np.uint8)
b,g,r,a = 0,255,0,0

## Use cv2.FONT_HERSHEY_XXX to write English.
text = time.strftime("%Y/%m/%d %H:%M:%S", time.localtime()) 
cv2.putText(img,  text, (50,50), cv2.FONT_HERSHEY_SIMPLEX, 0.7, (b,g,r), 1, cv2.LINE_AA)

## Use simsum.ttc to write Chinese.
fontpath = "./gulim.ttc"     
font = ImageFont.truetype(fontpath, 32)
img_pil = Image.fromarray(img)
draw = ImageDraw.Draw(img_pil)
draw.text((50, 100),  "아라따!", font = font, fill = (b, g, r, a))
img = np.array(img_pil)

## Display 
cv2.imshow("res", img);cv2.waitKey();cv2.destroyAllWindows()

In [50]:
import pymysql

conn = pymysql.connect(host='13.125.102.154', user='hello', password='Csedbadmin!1', db='pytest')
curs = conn.cursor()

sql = "select * from food"
curs.execute(sql)
rows = curs.fetchall()
print(rows)


sql = "select shelfLife from food where foodName = %s"
curs.execute(sql, '토마토')
rows = curs.fetchall()
print(type(rows[0][0]))

sql = "select * from photographedFood"
curs.execute(sql)
rows = curs.fetchall()
print(rows)

sql = "select * from eatenFood"
curs.execute(sql)
rows = curs.fetchall()
print(rows)

conn.close()

(('달걀', 25, 155, 1.1, 1.1, 0.0, 13.0, 11.0, 3.3, 0.0, 373.0, 50.0, 124.0, 520.0, 0.1, 0.0, 87.0, 0.0), ('슬라이스 치즈', 70, 215, 16.0, 8.0, 0.2, 16.0, 10.0, 6.0, 0.0, 35.0, 418.0, 1705.0, 628.0, 0.0, 0.4, 0.0, 0.0), ('우유', 14, 42, 5.0, 5.0, 0.0, 3.4, 1.0, 0.6, 0.0, 5.0, 125.0, 44.0, 47.0, 0.0, 0.0, 1.0, 0.0), ('토마토', 7, 18, 3.89, 2.63, 1.2, 0.88, 0.2, 0.05, 0.0, 0.0, 10.0, 5.0, 42.0, 0.08, 13.7, 0.0, 0.54))
<class 'int'>
(('2020_4_14_6_52_30', 1, '토마토', 7, '2020_4_14_6_52_30', 13, 239, 3, 183),)
()

In [35]:
from datetime import datetime, timedelta

timeStr1 = '2020_4_2_3_12_34'
timeStr2 = '2020_3_21_5_5_4'

split1 = timeStr1.split('_')
split2 = timeStr2.split('_')

time1 = datetime(int(split1[0]), int(split1[1]), int(split1[2]), int(split1[3]), int(split1[4]), int(split1[5]))
time2 = datetime(int(split2[0]), int(split2[1]), int(split2[2]), int(split2[3]), int(split2[4]), int(split2[5]))

print(time1)
print(time2)

print((time1-time2).days, '일')
print('현재 시간부터 5일 뒤 :', time2 + timedelta(days=5))
time3 = time2 + timedelta(days=5)
print(type(time3.day))
print(type(time1-time2), type(time3))
print(time1 > time2)

shelfLife, diff = 0, 0
print(diff, shelfLife)

2020-04-02 03:12:34
2020-03-21 05:05:04
11 일
현재 시간부터 5일 뒤 : 2020-03-26 05:05:04
<class 'int'>
<class 'datetime.timedelta'> <class 'datetime.datetime'>
True
0 0

In [15]:
from datetime import datetime, timedelta

time = datetime.now()
print(time)
print(time.year)
print(time.month)
print(time.day)
print(time.hour)
print(time.minute)
print(time.second)

2020-04-21 20:44:07.232565
2020
4
21
20
44
7

In [19]:
import pymysql

conn = pymysql.connect(host='13.125.102.154', user='hello', password='Csedbadmin!1', db='pytest')
curs = conn.cursor()

sql = "select num from images"
curs.execute(sql)
rows = curs.fetchall()
print(rows)

sql = "delete from images"
curs.execute(sql)
conn.commit()

sql = "select num from images"
curs.execute(sql)
rows = curs.fetchall()
print(rows)

conn.close()

()
()

In [3]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
from PIL import Image
import base64
from io import BytesIO

engine = create_engine('mysql+pymysql://hello:Csedbadmin!1@13.125.102.154/pytest', echo = False)

img_df = pd.read_sql(sql="select * from photo where photoId = '2020_5_27_0_4_26'", con=engine)

img_str = img_df['analyzedData'].values[0]
img = base64.decodebytes(img_str)
im = Image.open(BytesIO(img))
im.show()